@CHARSET "UTF-8";

dl.page-options,
dl.image-options,
dl.section-options{
	overflow: auto;
}

dl.page-options>dd,
dl.image-options>dd,
dl.section-options>dd{
	float: left;
	margin: 0 6px 0 0;
}

img.icon{
	cursor: pointer;
}

a.inline-option{
	margin: 0 6px;
}

dl.page-section{
	border: 1px dotted rgba(255, 155, 155, 0.4);
	min-height: 36px;
}

div.inside>ul>li:first-child dl.section-options>dd:first-child img.icon,
div.inside>ul>li:nth-last-child(2) dl.section-options>dd:nth-last-child(3) img.icon{
	opacity:0.2;
}

dl.page-section>dt{
	position: absolute;
	right: 16px;
	z-index: 99;
}

dl.page-section>dd{
	margin: 0;
}

dd.internetpath:before,
dd.filepath:before{
	margin: 4px 0 0 4px;
	position: absolute;
	opacity:0.4;
}
dd.filepath:before{
	content: url("../images/icons/16x16/file2.png");
}
dd.internetpath:before{
	content: url("../images/icons/16x16/globe.png");
}

dd.internetpath>input[type=text],
dd.filepath>input[type=text]{
	padding: 3px 3px 3px 20px;
	width: 400px;
}

